<div class="grid top-fixed">
  <div class="col-12 navbar">
    <div class="grid">
      <div class="col-6 flex justify-content-start">
        <p>KONDOMUNIO</p>
      </div>
      <div class="col-6 flex justify-content-end align-items-center">
        <button pButton pRipple type="button" icon="pi pi-search" class="p-button-text" [style]="{'color':'white'}"></button>
        <p-button label="Alessio De Vincentis" icon="pi pi-user" styleClass="p-button-primary"></p-button>
      </div>
    </div>
  </div>
  <div class="col-12">
    <p-menubar [model]="items">
    </p-menubar>
  </div>
</div>
