.navbar {
  background-color: #222831;
  color: white;
}

.top-fixed {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
}

.p-component, span {
  font-size: 13px !important;
}

.p-button {
  padding: 0.6rem 0.85rem !important;
}

.p-toolbar {
  padding: 0.75rem !important;
}

.grid {
  margin-top: 0 !important;
}

.p-button {
  border: none !important;
}

.p-button-primary {
  background-color: #30475E !important;
}

.p-button-secondary {
  background-color: #F05454 !important;
}
